{{#each hits}}
<a href="{{largeImageURL}}">
  <div class="photo-card">
  <img class="photo-card__img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b><span>Likes</span> {{likes}}</b>
    </p>
    <p class="info-item">
      <b><span>Views</span> {{views}}</b>
    </p>
    <p class="info-item">
      <b><span>Comments</span> {{comments}}</b>
    </p>
    <p class="info-item">
      <b><span>Downloads</span> {{downloads}}</b>
    </p>
  </div>
</div>
</a>
{{/each}}

{{!-- <a href="images/image1.jpg"><img src="images/thumbs/thumb1.jpg" alt="" title=""/></a> --}}
